.skill-section {
  min-height: 100vh;
  padding: 80px 20px;
    background: rgb(3, 2, 9);
  color: var(--app-text);
}

.skill-container {
  max-width: 800px;
  margin: auto;
}

.skill-item {
  margin-bottom: 30px;
}

.progress-bar {
  height: 12px;
  background: #2a2d5a;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #6c63ff, #4a47a3);
  border-radius: 20px;
  transition: width 1.5s ease;
}

@media (max-width: 768px){
  .skill-section {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
}